kaggle.json
.env
node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.csv
*.tsv
*.json
*.xml
./app/*
venv/
*.onnx

# key files
*.pem
*.key
*.crt
*.pub
id_ed25519
id_ed25519.pub
id_rsa
id_rsa.pub